@model Magazyn3.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Zaloguj sie jako magazynier</h4>
<hr />
@{
        <div>
            <p>
                Aby mieć dostęp do zarządzania zasobami w bazie danych, zaloguj sie jako magazynier
            </p>
        </div>
}
