@{
    ViewBag.Title = "Potwierdzenie adresu email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Dziękuję za potwierdzenie adresu email. Proszę @Html.ActionLink("kliknij tutaj aby się zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
